modules = ["nodejs-20", "python-3.12", "web", "java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DB_NAME = "motorph_db"
JWT_SECRET = "motorph-secret-key-2024"
CORS_ORIGINS = "*"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend-java && mvn spring-boot:run -Dspring-boot.run.jvmArguments=\"-Xms256m -Xmx512m\""
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
